form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 6px;
}

.title h4 {
    font-size: 40px;
    letter-spacing: 5px;
    font-style: italic;
}




button {
    /* border-radius: 20px; */
    padding: 10px;
    color: #fff;
}